<h1>Test-Website</h1>

<p>Eine kurze Website von <b>Ruben und Felix</b>.</p>

<p>Hier ein Bild von einer Katze:</p>

<img src="http://4.bp.blogspot.com/-X2uFmJUapzk/Uk6r2efIUYI/AAAAAAAAC-0/vfiB8DeWV-I/w1200-h630-p-k-no-nu/Cat-writing.jpg"
alt="Bild einer schreibenden Katze"
title="Eine Katze die schreibt">